<div class="container">
    <h1>
        TO DO
    </h1>
    <div class="break"></div>
    <app-button (onClick) = "onClick()">
        <strong>AGREGAR</strong>
    </app-button>
    <div class="break"></div>
    <div class="section">
        <app-panel padding="narrow">
            <app-bullet></app-bullet>
            <app-bullet></app-bullet>
            <app-bullet></app-bullet>
        </app-panel>
    </div>
    <div class="section">
        <app-panel padding="narrow">
           
        </app-panel>
    </div>
</div>



